@media only screen and (max-width: 900px) {
  .list {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
  }

  .taskList {
    padding: 10px;
    width: 95%;
  }
}
@media only screen and (min-width: 900px) {
  .list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
  }
  .taskList {
    padding: 10px;
    width: 90%;
  }
}
@media only screen and (min-width: 1300px) {
  .list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
