body {
  font-family: "Exo 2", sans-serif;
}
section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.184), rgba(0, 0, 0, 0.378)),
    url(../images/4.webp);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.list {
  width: 50%;
  min-height: 70vh;
  background-color: rgba(1, 4, 12, 0.492);
  box-shadow: 0rem 0rem 0.02rem 0.0125rem white inset;
}

.taskList {
  background-color: rgba(1, 4, 12, 0.253);
  padding: 20px;
  width: 90%;
  height: 400px;
  margin-bottom: 20px;
  box-shadow: 0rem 0rem 0.02rem 0.0125rem white inset;
}
.li-list {
  background-color: rgba(1, 4, 12, 0.556);
  position: relative;
}

.taskList::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
.taskList::-webkit-scrollbar-thumb {
  background: rgba(244, 244, 251, 0.763);
  border-radius: 30px;
}
.taskList::-webkit-scrollbar-track {
  background: rgba(0, 0, 31, 0.205);
}
.text-span {
  text-align: start;
  text-overflow: ellipsis !important;
  cursor: pointer;
}
.badge,
.progress-bar {
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
}
.text-span::after {
  content: "Mark Task as Complete task or not";
  position: absolute;
  left: 10%;
  bottom: 0;
  padding: 6px;
  background-color: #ffffff52;
  border-radius: 20px;
  background: #02113795;
  font-size: 0.9rem;
  color: white;
  opacity: 0;
  transition: all 0.4;
  cursor: default;
}
.text-span:hover::after {
  opacity: 1;
}
.btnn {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 30px #1f4c65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.btnn:active {
  scale: 0.92;
}

.btnn:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

.button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.5rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 16px;
  border-radius: 500px;
  overflow: hidden;
  background: rgba(232, 31, 31, 0.873);
  color: ghostwhite;
}

.button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.button:hover span {
  color: rgba(0, 0, 0, 0.742);
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.button::before {
  content: "";
  background: #00344897;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button:hover::before {
  transform: translate3d(100%, 0, 0);
}
